// Fade animations

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// hero scroll down arrow

@keyframes down-arrow-before {
    50% {
        transform: rotate(45deg) translate(70%, 70%);
    }
    100% {
        transform: rotate(45deg) translate(70%, 70%);
    }
}

@keyframes down-arrow-after {
    50% {
        transform: rotate(45deg) translate(110%, 110%);
        opacity: 0;
    }
    51% {
        transform: rotate(45deg) translate(-130%, -130%);
    }
    100% {
        transform: rotate(45deg) translate(-70%, -70%);
        opacity: 1;
    }
}
