#hamburger {
    display: none;
}

.hamburger__label {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    @extend %flex-column;
    justify-content: space-between;
}

.hamburger__label > .hamburger__bar {
    height: 3px;
    background-color: $white;
    transition: $transition-all;
    z-index: 999;
}

#hamburger:checked ~ .hamburger__label > .hamburger__bar {
    background-color: $white;
}

#hamburger:checked ~ .hamburger__label > .hamburger__bar:nth-child(1) {
    transform: translateY(1.35rem) rotate(45deg);
}
#hamburger:checked ~ .hamburger__label > .hamburger__bar:nth-child(2) {
    opacity: 0;
}
#hamburger:checked ~ .hamburger__label > .hamburger__bar:nth-child(3) {
    transform: translateY(-1.35rem) rotate(-45deg);
}

@media screen and (min-width: 1024px) {
    .hamburger__label {
        display: none;
    }
}
