<section class="container">
    <h2 class="section-heading">About Me</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod tempora ex provident pariatur sint saepe.
        Similique nihil modi voluptate vero nesciunt, iusto natus perspiciatis dicta odio, fugit unde molestias eos.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur, itaque, cum cupiditate nesciunt
        aliquid, illum praesentium distinctio ex aperiam quibusdam blanditiis! Exercitationem odit reiciendis similique
        temporibus qui, libero ut in possimus magni voluptatem expedita alias cum, reprehenderit eum. Quisquam dolorem,
        commodi eum voluptatum nisi laudantium soluta non esse animi!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus totam impedit magni assumenda aliquam animi,
        harum molestias nisi officiis labore magnam. Ab neque molestias accusantium corporis. Repellendus earum ex
        deleniti?
    </p>
</section>
