<ul class="careers">
    <li class="career">
        <p class="career__employer">Self employed</p>
        <div class="career-heading">
            <h4 class="font-mono career-heading__title">Web Developer</h4>
            <p class="career-heading__time">2023 Jan - Now</p>
        </div>
        <p class="career__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptas dicta consequatur aliquam placeat
            dolore maiores quo corporis accusantium? Nihil aut possimus a amet iste odio, quidem quo iusto eveniet.
        </p>
    </li>
    <li class="career">
        <p class="career__employer">Lanka Sugar Company Ltd</p>
        <div class="career-heading">
            <h4 class="font-mono career-heading__title">Chemical Engineer</h4>
            <p class="career-heading__time">2017 Nov - 2022 June</p>
        </div>
        <p class="career__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptas dicta consequatur aliquam placeat
            dolore maiores quo corporis accusantium? Nihil aut possimus a amet iste odio, quidem quo iusto eveniet.
        </p>
    </li>
    <li class="career">
        <p class="career__employer">Self employed</p>
        <div class="career-heading">
            <h4 class="font-mono career-heading__title">Graphic Designer</h4>
            <p class="career-heading__time">2012 Oct - 2018 April</p>
        </div>
        <p class="career__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptas dicta consequatur aliquam placeat
            dolore maiores quo corporis accusantium? Nihil aut possimus a amet iste odio, quidem quo iusto eveniet.
        </p>
    </li>
</ul>
