<div class="project-card">
    <div class="project-card__body">
        <div class="project__preview">
            <img src="./static/screenshots/mycashflow.png" alt="" />
        </div>
        <div class="project__details">
            <h3 class="stroke-left">My Cash Flow</h3>
            <p class="project__summary">Personal finance tracking application.</p>
            <p class="project__description">
                Analyse your financial transactions to determine how you have spent money and your earnings. You can add
                multiple bank accounts and add transactions associated with each. Most importantly, you can import bulk
                transactions at once from a CSV file. You can see a summary of your financial activities from the
                dashboard section.
            </p>
            <ul class="project__tags">
                <li class="project__tag">Ruby on Rails</li>
                <li class="project__tag">Tabler UI</li>
                <li class="project__tag">PostgreSQL</li>
                <li class="project__tag">Stimulus</li>
                <li class="project__tag">Apexcharts</li>
            </ul>
            <div class="project__buttons">
                <a href="" target="_blank" class="btn btn-black">Live</a>
                <a href="" target="_blank" class="btn btn-black">GitHub</a>
            </div>
        </div>
    </div>
</div>
