<section class="section">
    <h2 class="stroke-left">Skills</h2>
    <div class="skills">
        <div class="skills-card">
            <p class="skills-card__title font-mono">Languages</p>
            <div class="skills-card__body">
                <ul class="skill-icons languages">
                    <li class="skill-icon"><img src="./static/skill-icons/ruby.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/javascript.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/typescript.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/html5.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/css3.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/sass.svg" alt="" /></li>
                </ul>
            </div>
        </div>
        <div class="skills-card">
            <p class="skills-card__title font-mono">Development</p>
            <div class="skills-card__body">
                <ul class="skill-icons">
                    <li class="skill-icon"><img src="./static/skill-icons/rubyonrails.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/react.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/redux.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/nodedotjs.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/bootstrap.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/postgresql.svg" alt="" /></li>
                </ul>
            </div>
        </div>
        <div class="skills-card">
            <p class="skills-card__title font-mono">Tools</p>
            <div class="skills-card__body">
                <ul class="skill-icons">
                    <li class="skill-icon"><img src="./static/skill-icons/git.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/github.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/postman.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/visualstudiocode.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/heroku.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/selenium.svg" alt="" /></li>
                </ul>
            </div>
        </div>
        <div class="skills-card">
            <p class="skills-card__title font-mono">Design</p>
            <div class="skills-card__body">
                <ul class="skill-icons">
                    <li class="skill-icon"><img src="./static/skill-icons/figma.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/adobephotoshop.svg" alt="" /></li>
                    <li class="skill-icon"><img src="./static/skill-icons/adobeillustrator.svg" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>
