.skills-card {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skills-card__title {
  font-family: var(--font-mono);
  border-bottom: 1px solid var(--color-charcoal);
  font-weight: 700;
  font-size: 1.6rem;
  margin: 1em 0 0;
  padding-bottom: 1rem;
}

.skills-card__body {
  line-height: 1;
}

.skill-icons {
  margin: 0;
  list-style: none;
  padding: 0 1rem;
  display: inline-block;
}

.skill-icon {
  display: inline-block;
  margin-top: 1rem;
  width: 5rem;
  position: relative;
  vertical-align: top;
}

.skill-icon:not(:last-child) {
  margin-right: clamp(1rem, 2vw, 2rem);
}

.skill-icon__button {
  position: relative;
  display: block;
  width: 5rem;
  min-height: 5rem;
  padding: 0;
  border: 0;
  color: var(--color-charcoal);
  background: transparent;
  cursor: pointer;
}

.skill-icon__button:hover,
.skill-icon__button:focus-visible {
  color: var(--skill-color);
}

.skill-icon__svg,
.skill-icon__svg svg {
  display: block;
  width: 5rem;
  height: 5rem;
}

.skill-icon__svg svg {
  pointer-events: none;
  fill: currentColor;
  transition: var(--transition-all);
}

.skill-icon .icon-label {
  display: inline-block;
  position: absolute;
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(54, 100%, 93%);
  color: hsl(53, 99%, 38%);
  border: 1px solid hsl(53, 99%, 38%);
  font-family: var(--font-mono);
  padding: 0.5rem 1rem;
  width: max-content;
  z-index: 1;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.skill-icon__button:hover .icon-label,
.skill-icon__button:focus-visible .icon-label {
  opacity: 1;
}
