.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.about-content__image-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about-content__image {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    filter: grayscale(100%);
    display: block;
    transition: all 0.25s ease-in-out;

    &:hover {
        filter: none;
    }
}

.about-content__details {
    margin-top: 4rem;

    p {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .about-content {
        display: block;
    }

    .about-content__details {
        margin-top: 0;
    }

    .about-content__image-container {
        width: 40%;
        margin-left: 3rem;
        margin-bottom: 3rem;
        float: right;
    }
}
