*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px */
    font-size: 62.5%;
}

body {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    font-size: 1.6rem;
}

// Typography

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.1rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

p,
ul {
    font-feature-settings: "cv03", "cv04", "cv11";
}

a,
button {
    font-family: "JetBrains Mono", monospace;
}
