.btn {
    background: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: clamp(1px, 0.5vw, 4px);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.btn-lg {
    padding: 2rem 3rem;
}

.btn-white {
    background-color: $white;

    &:hover {
        color: $black;
        background-color: $accent;
    }
}

.btn-white-outlined {
    color: $white;
    border: 1px solid $white;

    &:hover {
        color: $accent;
        border-color: $accent;
    }
}

.btn-black {
    color: $white;
    background-color: $black;

    &:hover {
        background-color: $accent;
        color: $black;
    }
}

.btn-black-outlined {
    color: $black;
    background: none;
    border: 1px solid $black;

    &:hover {
        color: $accent;
        border-color: $accent;
    }
}

@media screen and (min-width: 1024px) {
    .btn-lg {
        padding: 2rem 3rem;
    }
}
