.btn {
    background: none;
    display: inline-block;
    line-height: 1.5;
    white-space: nowrap;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: clamp(1px, 0.5vw, 4px);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: "JetBrains Mono", monospace;
}

.btn-lg {
    padding: 1.5rem 3rem;
}

.btn-white {
    background-color: $white;

    &:hover,
    &:focus {
        color: $black;
        background-color: $accent;
    }

    &:visited,
    :link {
        color: $black;
    }
}

.btn-white-outlined {
    color: $white;
    border: 1px solid $white;

    &:hover,
    &:focus,
    &:hover:visited {
        color: $accent;
        border-color: $accent;
    }

    &:visited,
    :link {
        color: $white;
    }
}

.btn-black {
    color: $white;
    background-color: $black;

    &:hover,
    &:focus {
        background-color: $accent;
        color: $black;
    }
}

.btn-black-outlined {
    color: $black;
    background: none;
    border: 1px solid $black;

    &:hover {
        color: $accent;
        border-color: $accent;
    }
}

.link {
    font-style: italic;
    border-bottom: 1px solid $accent;

    &:hover {
        color: $accent;
    }
}

@media screen and (min-width: 1024px) {
    .btn-lg {
        padding: 2rem 3rem;
    }
}
