.btn {
    background: none;
    border: none;
    padding: 2rem;
    letter-spacing: 5;
}

.btn-white {
    color: white;
    border: 1px solid white;
}

.btn:hover {
    background-color: white;
    color: black;
}

main {
    height: 100vh;
    padding-top: 10rem;
    color: white;
    background-color: black;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1rem 2rem;
    }
}
