.footer {
    text-align: center;

    padding: 1rem 0;
    color: $white;
    background-color: $black;
    border-top: 1px solid $white;

    p {
        font-size: 1.3rem;
        margin: 0;
    }
}
