.nav {
    z-index: 10;
    position: fixed;
    top: 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $black;
}

.nav__logo {
    height: 48px;
    z-index: 10;
}

.nav__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    color: $white;
    background-color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.nav__list {
    list-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: clamp(0rem, 4vh, 5rem);
}

.nav__item {
    letter-spacing: clamp(1px, 0.5vw, 4px);
    text-transform: uppercase;
    position: relative;

    &:not(:first-child) {
        padding-top: clamp(2rem, 4vh, 5rem);
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        transition: color 0.25s ease-in-out;

        &:focus {
            color: $accent;
        }

        &:visited {
            color: $white;
        }
    }

    a::after {
        position: absolute;
        background-color: $accent;
        content: "";
        width: 0%;
        height: 2px;
        bottom: -0.5rem;
        transition: width 0.25s ease-in-out;
    }

    a:hover {
        color: $accent;
    }

    a:hover::after {
        width: 4rem;
    }
}

#hamburger:checked ~ .nav__content {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}

.nav__content > .nav__logo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .nav__content {
        flex-direction: row;
        justify-content: space-between;
        opacity: 1;
        visibility: visible;
        top: 0;
        height: fit-content;
        padding: 1rem 3rem;
        // background-color: rgb(24, 24, 24);
        // border-bottom: 1px solid rgb(55, 55, 55);
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav > .nav__logo {
        display: none;
    }

    .nav__content > .nav__logo {
        display: block;
    }

    .nav__item {
        &:not(:first-child) {
            padding-top: 0;
            margin-left: 2rem;
        }

        a {
            font-size: 1.6rem;
            position: relative;
        }
    }
}
