.socials-desktop {
    display: none;
}

.socials-footer,
.socials-mobile-nav {
    .social-link:not(:last-child) {
        margin-right: 1rem;
    }
}

.socials-mobile-nav {
    margin-top: clamp(0rem, 4vh, 5rem);
}

.social-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: currentColor;
    color: $white;
    transition: all 0.25s ease-in-out;

    &:hover {
        color: $accent;
    }
}

.icon-github {
    mask-image: url("../../static/socials/github.svg");
}

.icon-linkedin {
    mask-image: url("../../static/socials/linkedin.svg");
}

.icon-instagram {
    mask-image: url("../../static/socials/instagram.svg");
}

.icon-twitter {
    mask-image: url("../../static/socials/twitter.svg");
}

.icon-email {
    mask-image: url("../../static/socials/email.svg");
}

@media screen and (min-width: 1024px) {
    .socials-desktop {
        display: block;
        background-color: $black;
        z-index: 100;
        position: fixed;
        left: 0;
        top: calc((100vh - 8rem - 2.4rem * 4) / 2);
        padding: 1rem;

        .social-icons {
            display: grid;
            gap: 1rem;
        }
    }

    .socials-footer,
    .socials-mobile-nav {
        display: none;
    }
}
