.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.section,
.section-full {
    padding: 5rem 2rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.75s ease-in-out;

    &.hidden {
        opacity: 0;
        transform: translateY(100px);
    }
}

.section {
    max-width: 90rem;
}

.section-full {
    width: 100%;
}

.bg-dark {
    background-color: $black;
}

.text-accent {
    color: $accent;
}

.stroke-left,
.stroke-center {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &::after {
        background-color: $accent;
        content: "";
        width: 5rem;
        height: 2px;
        margin-top: 0.5rem;
    }
}

.stroke-left {
    align-items: start;
}

.stroke-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-left {
    display: flex;
    justify-content: start;
}

.font-mono {
    font-family: "Jetbrains Mono", monospace;
}

.visually-hidden {
    visibility: hidden;
    opacity: 0;
}

.overflow-hidden {
    overflow: hidden !important;
}

.image-wrapper {
    position: relative;
    width: fit-content;

    &::after {
        position: absolute;
        content: "";
        border: 1px solid $black;
        top: clamp(1rem, 2vw, 1.5rem);
        left: clamp(1rem, 2vw, 1.5rem);
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.25s ease-in-out;
    }
}

// Animations for elements

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
