.section,
.section-full {
    margin-top: 10rem;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

.section {
    max-width: 90rem;
}

.section-full {
    width: 100%;
}

.bg-dark {
    background-color: $black;
}

.text-accent {
    color: $accent;
}

.stroke-left,
.stroke-center {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &::after {
        background-color: $accent;
        content: "";
        width: 5rem;
        height: 2px;
    }
}

.stroke-left {
    align-items: start;
}

.stroke-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.font-mono {
    font-family: "Jetbrains Mono", monospace;
}
