.footer {
    text-align: center;

    padding: 1rem 0;
    color: $white;
    background-color: $black;

    p {
        font-size: 1.3rem;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $accent;
    }
}

.callout {
    margin-top: 10rem;
    color: $white;
    text-align: center;
    background-color: $black;
}

.callout-content {
    @extend %margin-h-auto;
    padding: 0 2rem;
    max-width: 90rem;
}

.callout-message {
    font-family: $font-mono;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
